/* Font as specified by Dataskyline style guide */
h1, h2, h3, h4, h5, h6, p, div, span {
  font-family: 'Open Sans', sans-serif;
}

/* Fix for floating images */
ul {
    padding-left: 1.2em;
    overflow: hidden;
}​

/* Make the navigation menu hover above rest */
.nav {
  z-index: 9998;
}

/* Logo in the navigation bar (create a nice white circle around the image) */
.navbar-logo {
  height: 54px;
  float:left;
  margin: 3px 20px 3px 0;
  background-color: #FFF;
  padding: 2px;
  border-radius: 60%;
  border: 2px #D7DADB solid;
}

/* Help button for certain parts of the website */
.btn-link-help {
  color: #CECECE;
}
.btn-link-help:hover {
  color: #AEAEAE;
}

/** Animate pagination **/

.dscmsPage {
  bottom: 0;
  padding-top: 81px;
  position: absolute;
  top: 0;
  width: 100%;
}

.dscms-page-home.ng-enter {
  animation: fadeIn 0.5s both ease;
  z-index: 9000;
}

.dscms-page-topic.ng-enter {
  animation: slideInUp 0.5s both ease;
  z-index: 9000;
}

.dscms-page-documentation.ng-enter {
  animation: none;
  z-index: 8999;
}

.dscms-page-home.ng-leave {
  animation: fadeOut 0.5s both ease;
  z-index: 8999;
}

.dscms-page-topic.ng-leave {
  animation: slideOutDown 0.5s both ease;
  z-index: 8999;
}

.dscms-page-documentation.ng-leave {
  animation: none;
  z-index: 8999;
}

/* Styling for the preview screen */

.dscms-mini-screen {
  background-color: #FFF;
  /* Border color as per the bootstrap theme */
  border: 1px solid #ECF0F1;
  border-radius: 3px;
}
/* Make cursor a pointer when hovering over a window in the preview screen */
.dscms-mini-screen-window {
  cursor: pointer;
}

/* Window in preview screen, filled but not selected */
.dscms-mini-screen-window-filled {
  border: 3px solid #D7DADB;
}

/* Window in preview screen, filled and selected */
.dscms-mini-screen-window-selected {
  border: 3px solid #18bc9c;
}

/* Window in preview screen, not filled */
.dscms-mini-screen-window-empty {
  border: 3px dashed #D7DADB;
}

/* Class applied to ellipsical windows */
.dscmsEllipse {
  border-radius: 50%;
}

/* Size for the preview screen on the edit topic page */
.edit-topic-screen-preview {
  width: 100%;
}

/* Center the title text in a panel title with a button */
.panel-title-with-button {
  line-height: 45px;
  font-size: 17px;
}
/* Make sure the first column in the table with windows on the topic page is just wide enough */
#edit-topic-config-table tr td:first-child {
  white-space: nowrap;
  width: 1px;
}

/* Prevent double padding */
#edit-topic-preview-col, #edit-screen-preview-col {
  padding-left: 0;
}
#edit-topic-control-col, #edit-screen-control-col {
  padding-right: 0;
}

/* Hide default upload button */
#module-upload-file-input {
  display: none;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
/* Create large upload button */
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

/* Pager */
.pager li>a{
  background-color: #18bc9c;
}
.pager .disabled>a{
  background-color: #ecf0f1 !important;
}

/* Documentation */

.documentation-subhero {
  width: 25%;
  height: auto;
  padding: 15px;
}

.documentation-medium-img {
  width: 50%;
  height: auto;
}

.hr-solid {

}

.hr-dashed {
  border-top-style: dashed;
}
.dscms-nav-doc {
  position: fixed;
}

/* Add topic */
.add-topic-hr {
  margin-top: 15px;
  margin-bottom: 10px;
  border: none;
}

.add-topic-window-count {
  color: #bfbfbf;
}

/* All screens preview */
.dscms-all-screens-preview {
  text-align: center;

  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;

  list-style: none;
  margin: 0;
  padding: 0;
}

.dscms-all-screens-preview li {
  display: inline;
}

.dscms-all-screens-preview .all-screen-preview-single {
  height: 200px;
}
