/** Change the style for a dscms-mini-screen element */
.dscms-mini-screen {
  background-color: #FFF;
  border: 1px solid #DDD;
}

.dscms-mini-screen-window {
  border: 1px solid #DDD;
  cursor: pointer;
}

/** This class is applied to the child element of a dscms-mini-screen-window element that creates the hue */
.dscms-mini-screen-window-hue {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/** Transform an element to an ellipse */
.dscmsEllipse {
	border-radius: 50%;
}

/** Change cursor to pointer on ng-click */
[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

.edit-theme-screen-preview {
  width: 100%;
}
