html,body{
    padding:0;
    margin:0;
    height:99%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    color:#383838;
    background: #ffffff;
}

#iframeOverlay{
    z-index:1;
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    top:0;
    left:0;
}
#mapiframe{
    position: absolute;
    top:0;
    left:0;
}

#map-canvas{
    width: 100%;
    height: 100%;
}

#svg {
    height:99%;
    width:100%;
    padding: 0;
    margin:0;
    
}

#svgbackup{
    display: none;
}

.label{
    color:#383838;
}

.whitelabel{
    color:#ffffff;
    fill:#ffffff;
}

.iconStroke{
    fill:#383838;
}

.iconFill{
    fill:#06bdea;
}

.dataline { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.grid .tick {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}
.grid path {
          stroke-width: 0;
}

.area {
    fill: lightsteelblue;
      stroke-width: 0;
}
