body{
  background: #eee;
}

iframe {
  border: 0!important;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding:0;
  margin: 0;
  overflow: hidden;
  cursor: none;
}

.grid {
  width: 1920px;
  height:  1080px;
  overflow: hidden;
  background: #fff;
}