/* ==================================================================================== */
/* ************************************************************************************ */
/* ==================================================================================== */
/*
											__        ___    ____  _   _ ___ _   _  ____
											\ \      / / \  |  _ \| \ | |_ _| \ | |/ ___|
											 \ \ /\ / / _ \ | |_) |  \| || ||  \| | |  _
											  \ V  V / ___ \|  _ <| |\  || || |\  | |_| |
											   \_/\_/_/   \_\_| \_\_| \_|___|_| \_|\____|

												 This file is for reference only. Actual
												 position info should be provided by server.
												 Delete this file if server sends this data.

*/
/* ==================================================================================== */
/* ************************************************************************************ */
/* ==================================================================================== */

body{
  background: #eee;
}

iframe {
  border: 0!important;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding:0;
  margin: 0;
  overflow: hidden;
  cursor: none;
}

.grid {
  width: 3840px;
  height:  2160px;
  overflow: hidden;
  background: #fff;
}
