body{
  width:1920px;
  height:1080px;
  /*background: #fff url('../saxionlogo.jpg') no-repeat center center;*/
  background-size: cover;
  display:flex;
  justify-content:center;
  align-items:center;

  font: 44px Arial,sans-serif;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding:0;
  margin: 0;
  overflow: hidden;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                not supported by any browser */

  /*cursor: none;*/
}

#container {
  background: rgba(255,255,255,0.9);
  width: 100%;
  height: 100%;
}

.active{
  /*box-shadow: 0 0 20px 0px rgba(0,0,0,1.15), 0 0 20px 0px rgba(0,0,0,1.17)!important;*/
  border: 10px solid #FFF;
}

h1 {
  color: #00853a;
  font-size: 120px;
  text-align: center;
  margin: 50px 0 100px;
  text-shadow: 3px 3px #fff;
}

.button {
  width: 200px;
  height: 200px;

  border-radius: 50%;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.15), 0 0 20px 0px rgba(0,0,0,0.17);

  text-align: center;
  line-height: 200px;

  font-size: 30px;
  color: #fff;
}

.bgBlue{
  background-color: #06bdea;
}

.bgGreen{
  background-color: #9bb717;
}

.bgPink{
  background-color: #ed1e68;
}

.bgOrange{
  background-color: #ff912b;
}

.bgPurple{
  background-color: #5c4fd9;
}
