<!-- ====== -->
<!-- Modals -->
<!-- ====== -->
<!-- Add theme modal -->
<div id="add-theme-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add a new theme</h4>
      </div>
      <div class="modal-body">
        <fieldset class="form-group">
          <label for="newThemeNameInput">Theme name</label>
          <input maxlength="20" ng-model="newThemeName" type="text" class="form-control" id="newThemeNameInput">
        </fieldset>
        <fieldset class="form-group">
          <label for="newThemeDescriptionInput">Theme description</label>
          <input maxlength="150" ng-model="newThemeDescription" type="text" class="form-control" id="newThemeDescriptionInput">
        </fieldset>
      </div>
      <div ng-show="showThemeError == true" id="add-thema-message" type="hidden" class="alert alert-danger alert-dismissible" role="alert">
        <strong>Warning!</strong> {{addThemeError}}
      </div>
      <div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button ng-click="addTheme()" type="button" class="btn btn-primary">Add theme</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Module info modal -->
<div id="module-info" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Info of {{moduleFolderName}}</h4>
      </div>
      <div class="modal-body">
        <p>Name: {{moduleName}}</p>
        <p>Description: {{moduleDescription}}</p>
        <p>Developer: {{moduleDeveloper}}</p>
        <p>License: {{moduleLicense}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Confirm delete modal -->
<div id="module-delete" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Warning!</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete {{moduleName}}?</p>
      </div>
      <div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="removeModule(moduleFolderName)">Confirm</button>
      </div>
    </div>
  </div>
</div>

<!-- ======== -->
<!-- Web Page -->
<!-- ======== -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left" style="padding-top: 7.5px">Modules</h3>
									<button type="button" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span>
											</button>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Module</th>
																<th>Author</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="module in modules">
                                <td>{{module.moduleFolderName}}</td>
																<td>{{module.moduleDeveloper}}</td>
																<td><div class="btn-group" data-toggle="buttons"><button ng-click="openModuleModal(module.moduleFolderName)" data-toggle="modal" data-target="#module-info" type="button" class="btn btn-default">
																	<span class="glyphicon glyphicon-info-sign"></span>
																</button>
																<button ng-click="openModuleModal(module.moduleFolderName)" data-toggle="modal" data-target="#module-delete" type="button" class="btn btn-default">
																	<span class="glyphicon glyphicon-trash"></span>
																</button></div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left" style="padding-top: 7.5px">Themes</h3>
										<button type="button" class="btn btn-primary pull-right" href="" data-toggle="modal" data-target="#add-theme-modal"><span class="glyphicon glyphicon-plus"></span>
											</button>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Theme</th>
                                <th>Description</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="theme in themes">
                             <td>{{theme.name}}</td>
                             <td>{{theme.description}}</td>
                             <td><button ng-click="editTheme(theme)" type="button" class="btn btn-default pull-right">
                               <span class="glyphicon glyphicon-pencil"></span>
                             </button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- <button type="button" class="btn btn-default btn-lg file-upload" enctype="multipart/form-data"><input type="file" class="file-input"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Upload module</input></button>
    <form id   =  "uploadForm"
     enctype   =  "multipart/form-data"
     action    = "/"
     method    =  "post"
      >
        <input type="file" name="new-module" />
        <input type="submit" value="Upload an module" name="submit">
      </form>
</div> -->
