<div class="container">
  <!-- Full preview of Dataskyline -->
  <div class="row">
    <div class="col-md-12" ng-controller="dscmsBigHomePreviewCtrl">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Preview for selected theme</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li ng-repeat="screen in screens">
              <mini-skyline-screen class="edit-theme-screen-preview" windows="previewConfigs[screen.screenName]"></mini-skyline-screen>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- List of modules, list of themes -->
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <h3 class="panel-title-with-button panel-title pull-left">Modules</h3>

          <div class="pull-right" data-toggle="buttons">
          <a type="button" class="btn btn-link" href="#/documentation#dscms-modules" ><span class="glyphicon glyphicon-question-sign"></span></a>
          <button type="button" class="btn btn-default" ng-click="openUploadModuleModal()"><span class="glyphicon glyphicon-plus"></span></button>
          </div>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Module</th>
                <th>Author</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="module in modules.slice(((modulesTableCurrentPage-1)*modulesTableItemsPerPage), ((modulesTableCurrentPage)*modulesTableItemsPerPage))">
                <td>{{module.moduleName}}</td>
                <td>{{module.moduleDeveloper}}</td>
                <td>
                  <div class="btn-group pull-right" data-toggle="buttons">
                    <button ng-click="openModuleInfoModal(module)" type="button" class="btn btn-xs btn-primary">
                      <span class="glyphicon glyphicon-info-sign"></span>
                    </button>
                    <button ng-click="deleteModule(module)" type="button" class="btn btn-xs btn-danger">
                      <span class="glyphicon glyphicon-trash"></span>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <pager ng-hide="modules.length <= modulesTableItemsPerPage" total-items="modules.length" ng-model="modulesTableCurrentPage" items-per-page="modulesTableItemsPerPage"></pager>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <h3 class="panel-title-with-button panel-title pull-left">Themes</h3>
          <div class="pull-right" data-toggle="buttons">
            <a type="button" class="btn btn-link" href="#/documentation#dscms-themes"><span class="glyphicon glyphicon-question-sign"></span></a>
          <button type="button" class="btn btn-default pull-right" ng-click="openAddThemeModal()"><span class="glyphicon glyphicon-plus"></span>
          </div>
          </button>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Theme</th>
                <th>Description</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="theme in themes.slice(((themesTableCurrentPage-1)*themesTableItemsPerPage), ((themesTableCurrentPage)*themesTableItemsPerPage))">
                <td>{{theme.name}}</td>
                <td>{{theme.description}}</td>
								<td>
                  <div class="btn-group pull-right" data-toggle="buttons">
                    <button ng-click="editTheme(theme)" type="button" class="btn btn-xs btn-primary">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button ng-click="deleteTheme(theme)" type="button" class="btn btn-xs btn-danger">
                      <span class="glyphicon glyphicon-trash"></span>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <pager ng-hide="themes.length <= themesTableItemsPerPage" total-items="themes.length" ng-model="themesTableCurrentPage" items-per-page="themesTableItemsPerPage"></pager>
        </div>
      </div>
    </div>
  </div>
</div>
