<!--  Created by Steyn Potze on ???
      This page is used to edit screens
      Page is linked to dscmsScreenCtrl controller
-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title-with-button panel-title pull-left">Editing screen: <span ng-bind="screenName"/></h2>

          <!-- Select screen -->
          <button type="button" title="Save screen" data-toggle="general-tooltip" class="btn btn-success btn-group pull-right" ng-click="saveEdit()"><span class="glyphicon glyphicon-floppy-disk"></span></button>

          <div class="clearfix"></div>

        </div>
        <div class="panel-body">
          <div class="container-fluid">
            <div class="row">
              <div id="edit-screen-preview-col" class="col-md-4">
                <mini-skyline-screen class="edit-topic-screen-preview" windows="previewConfig"></mini-skyline-screen>
              </div>
              <div id="edit-screen-control-col" class="col-md-8 container">
                <!-- Select window -->
                <div class="pull-left" ng-class="{'btn-group': screens[selectedScreenPos].windows.length > 0}" title="Select window to edit" data-toggle="general-tooltip">
                  <button
                    type="button"
                    class="btn btn-default dropdown-toggle"
                    ng-class="{'dropdown-toggle': screens[selectedScreenPos].windows.length > 0}"
                    ng-disabled="screens[selectedScreenPos].windows.length === 0"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                    {{screens[selectedScreenPos].windows.length === 0 ? "No windows configured for this screen" : "Window " + screens[selectedScreenPos].windows[selectedWindowPos].id}}
                    <span ng-hide="screens[selectedScreenPos].windows.length === 0" class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li ng-repeat="w in screens[selectedScreenPos].windows"><a ng-click="changeSelectedWindowPos($index)">{{w.id}}</a></li>
                  </ul>
                </div>

                <div class="btn-group pull-right">
                  <button type="button" title="Remove window from screen" data-toggle="general-tooltip" class="btn btn-danger" ng-click="removeWindow(selectedWindowPos)"><span class="glyphicon glyphicon-trash"></span></button>
                  <button type="button" title="Add window to screen" data-toggle="general-tooltip" class="btn btn-default" ng-click="addWindow()"><span class="glyphicon glyphicon-plus"></span></button>
                </div>

                <div class="clearfix"></div>
                <hr />

                <div ng-hide="screens[selectedScreenPos].windows.length === 0">
                  <div class="row">
                    <div class="col-md-6">
                      <fieldset class="form-group">
                        <label for="WindowIDInput">ID</label>
                        <input ng-blur="updatePreview()" type="text" class="form-control" id="WindowIDInput" ng-model="screens[selectedScreenPos].windows[selectedWindowPos].id" placeholder="Window ID (e.g. 1.1)">
                      </fieldset>
                    </div>
                    <div class="col-md-6">
                      <fieldset class="form-group">
                        <label for="WindowShapeInput">Shape</label>
                        <input ng-blur="updatePreview()" type="text" class="form-control" id="WindowShapeInput" ng-model="screens[selectedScreenPos].windows[selectedWindowPos].shape" placeholder="Window shape (rectangle or ellipse)">
                      </fieldset>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <fieldset class="form-group">
                        <label for="WindowWidthInput">Width (px)</label>
                        <input ng-blur="updatePreview()" type="text" class="form-control" id="WindowWidthInput" ng-model="screens[selectedScreenPos].windows[selectedWindowPos].width" placeholder="Window width (e.g. 150)">
                      </fieldset>
                    </div>
                    <div class="col-md-6">
                      <fieldset class="form-group">
                        <label for="WindowHeightInput">Height (px)</label>
                        <input ng-blur="updatePreview()" type="text" class="form-control" id="WindowHeightInput" ng-model="screens[selectedScreenPos].windows[selectedWindowPos].height" placeholder="Window height (e.g. 150)">
                      </fieldset>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <fieldset class="form-group">
                        <label for="WindowXInput">X position (px)</label>
                        <input ng-blur="updatePreview()" type="text" class="form-control" id="WindowXInput" ng-model="screens[selectedScreenPos].windows[selectedWindowPos].x" placeholder="Window X position (e.g. 10)">
                      </fieldset>
                    </div>
                    <div class="col-md-6">
                      <fieldset class="form-group">
                        <label for="WindowYInput">Y position (px)</label>
                        <input ng-blur="updatePreview()" type="text" class="form-control" id="WindowYInput" ng-model="screens[selectedScreenPos].windows[selectedWindowPos].y" placeholder="Window Y position (e.g. 10)">
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="panel-footer">
          <button type="button" class="btn btn-danger pull-right" ng-click="cancelEdit()">Cancel</button>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
