<!--  Created by Steyn Potze on ???
      This page is used to edit topics
      Page is linked to dscmsEditTopicCtrl controller
-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title-with-button panel-title pull-left">Editing topic: <span ng-bind="topicName"/></h2>

          <!-- Select screen -->
          <div class="btn-group pull-right" role="group">
            <div title="Select screen to edit" data-toggle="general-tooltip" class="btn-group" role="group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{screens[selectedScreenPos].name}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li ng-repeat="s in screens"><a ng-click="changeSelectedScreen(s)">{{s.name}}</a></li>
              </ul>
            </div>
            <button type="button" title="Save screen for topic" data-toggle="general-tooltip" class="btn btn-success" ng-click="saveEdit()"><span class="glyphicon glyphicon-floppy-disk"></span></button>
          </div>

          <div class="clearfix"></div>

        </div>
        <div class="panel-body">
          <div class="container-fluid">
            <div class="row">
              <div id="edit-topic-preview-col" class="col-md-4">
                <mini-skyline-screen class="edit-topic-screen-preview" windows="previewConfig"></mini-skyline-screen>
              </div>
              <div id="edit-topic-control-col" class="col-md-8">

                <!-- Select view -->
                <div ng-class="{'btn-group': thisScreenWinInf.viewInstances.length > 0}" class="pull-left" title="Select view instance to edit" data-toggle="general-tooltip">
                  <!-- Dropdown with view instances -->
                  <!-- Should only be enabled if any view instances are present -->
                  <!-- Otherwise, instruct user -->
                  <button
                    type="button"
                    class="btn btn-default dropdown-toggle"
                    ng-class="{'dropdown-toggle': thisScreenWinInf.viewInstances.length > 0}"
                    ng-disabled="thisScreenWinInf.viewInstances.length === 0"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                    {{thisScreenWinInf.viewInstances.length === 0 ? "No view instances configured for this screen" : thisScreenWinInf.viewInstances[selectedViewPos].instanceName}}
                    <span ng-hide="thisScreenWinInf.viewInstances.length === 0" class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li ng-repeat="v in thisScreenWinInf.viewInstances"><a ng-click="changeSelectedView(v)">{{v.instanceName}}</a></li>
                  </ul>
                </div>

                <div class="btn-group pull-right">
                  <button type="button" title="Delete this view" data-toggle="general-tooltip" class="btn btn-danger" ng-click="deleteView(selectedViewPos)"><span class="glyphicon glyphicon-trash"></span></button>
                  <button type="button" title="Add view to screen" data-toggle="general-tooltip" class="btn btn-default" ng-click="openAddViewModal()"><span class="glyphicon glyphicon-plus"></span></button>
                </div>

                <div class="clearfix"></div>

                <hr ng-hide="thisScreenWinInf.viewInstances.length === 0">

                <!-- Windows for selected view -->

                <table id="edit-topic-config-table" class="table table-bordered" ng-hide="thisScreenWinInf.viewInstances.length === 0">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Position</th>
                      <th>Window</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="window in thisScreenWinInf.viewInstances[selectedViewPos].windows">
                      <!-- Make button orange when window is in process of being moved -->
                      <td><button type="button" class="btn btn-xs btn-{{windowIdToReplace === window.locationID ? 'warning' : 'default'}}" ng-click="windowIdToReplace === window.locationID ? windowIdToReplace = null : startWindowReplace(window)"><span class="glyphicon glyphicon-pencil"></span></button></td>
                      <td>{{window.locationID}}</td>
                      <td>{{window.name}}</td>
                    </tr>
                  </tbody>
                </table>
                <hr ng-hide="!hasViewGotConfig(thisScreenWinInf.viewInstances[selectedViewPos])">

                <!-- Config for selected view -->

                <form>
                  <fieldset ng-repeat="var in thisScreenWinInf.viewInstances[selectedViewPos].config.configItems" class="form-group">
                    <label for="{{var.key}}Input">{{var.name}}</label>
                    <input type="text" class="form-control" id="{{var.key}}Input" ng-model="var.value" placeholder="{{var.description}}">
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <button type="button" class="btn btn-danger pull-right" ng-click="cancelEdit()">Cancel</button>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
