<!DOCTYPE html>
<html lang="en" ng-app="dscmsDataskylineControlApp">

<head>
  <title ng-bind="title">Dataskyline control panel</title>

  <!-- =========== -->
  <!-- Stylesheets -->
  <!-- =========== -->

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- Custom -->
  <link rel="stylesheet" href="cpanel/css/cpanel.css">

  <!-- ========== -->
  <!-- Javascript -->
  <!-- ========== -->

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>

  <!-- AngularJS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.3/ui-bootstrap-tpls.min.js"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  <!-- Custom -->
  <script type="text/javascript" src="cpanel/js/globalcpanel.js"></script>
  <script type="text/javascript" src="cpanel/js/ctrl/homeCtrl.js"></script>
  <script type="text/javascript" src="cpanel/js/ctrl/screensCtrl.js"></script>
  <script type="text/javascript" src="cpanel/js/ctrl/miniSkylineScreenCtrl.js"></script>
  <script type="text/javascript" src="cpanel/js/directives.js"></script>

</head>

<body>

  <!-- ====== -->
  <!-- Modals -->
  <!-- ====== -->
    <div ng-controller="dscmsAddModuleCtrl" id="add-theme-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Add a new theme</h4>
        </div>
        <div class="modal-body">
          <div class="input-group">
            <span class="input-group-addon">Name</span>
            <input ng-model="themeName" id="theme-name" type="text" class="form-control" placeholder="..." aria-describedby="theme-name">
          </div>
          <div class="input-group">
            <span class="input-group-addon">Description</span>
            <input ng-model="themeDescription" id="theme-description" type="text" class="form-control" placeholder="..." aria-describedby="theme-description">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button ng-click="addTheme()" type="button" class="btn btn-primary">Add theme</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- ========== -->
  <!-- Navigation -->
  <!-- ========== -->

  <nav class="navbar navbar-default" ng-controller="dscmsNavigationCtrl">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/">Dataskyline control</a>
      </div>
      <!-- Main content for navbar, will be hidden on mobile -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <!-- Left aligned -->
        <ul class="nav navbar-nav">
          <!-- <li ng-class="{active: isActive('/modules')}"><a href="#/modules">Modules</a></li> -->
          <!-- <li ng-class="{active: isActive('/screens')}"><a href="#/screens">Screens</a></li> -->
        </ul>
        <!-- Right aligned -->
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
                <a href="#/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus
                  " aria-hidden="true"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="">Add module</a></li>
                  <li><a href="" data-toggle="modal" data-target="#add-theme-modal">Add theme</a></li>
                </ul>
              </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- ============ -->
  <!-- Main content -->
  <!-- ============ -->

  <div id="wrap">
    <div ng-view></div>
  </div>
</body>

</html>
