#touchinterface-container {
  background: rgba(255,255,255,0.9);
  width: 100%;
  height: 100%;
}

#touchinterface-container .active{
  /*box-shadow: 0 0 20px 0px rgba(0,0,0,1.15), 0 0 20px 0px rgba(0,0,0,1.17)!important;*/
  border: 10px solid #FFF;
}

#touchinterface-container h1 {
  color: #00853a;
  font-size: 120px;
  text-align: center;
  margin: 50px 0 100px;
  text-shadow: 3px 3px #fff;
}

.button {
  width: 200px;
  height: 200px;

  border-radius: 50%;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.15), 0 0 20px 0px rgba(0,0,0,0.17);

  text-align: center;
  line-height: 200px;

  font-size: 30px;
  color: #fff;
}

.bgBlue{
  background-color: #06bdea;
}

.bgGreen{
  background-color: #9bb717;
}

.bgPink{
  background-color: #ed1e68;
}

.bgOrange{
  background-color: #ff912b;
}

.bgPurple{
  background-color: #5c4fd9;
}
