<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Add a new theme</h4>
</div>
<div class="modal-body">
  <div ng-show="showThemeError == true" id="add-thema-message" type="hidden" class="alert alert-warning" role="alert">
    <strong>Oops!</strong> {{addThemeError}}
  </div>
  <fieldset class="form-group">
    <label for="newThemeNameInput">Theme name</label>
    <input maxlength="20" ng-model="newThemeName" ng-enter="addTheme(newThemeName, newThemeDescription)" ng-keydown="nameKeydown($event)" type="text" class="form-control" id="newThemeNameInput">
  </fieldset>
  <fieldset class="form-group">
    <label for="newThemeDescriptionInput">Theme description</label>
    <input maxlength="150" ng-model="newThemeDescription" ng-enter="addTheme(newThemeName, newThemeDescription)" type="text" class="form-control" id="newThemeDescriptionInput">
  </fieldset>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
  <button ng-click="addTheme(newThemeName, newThemeDescription)" type="button" class="btn btn-success">Add theme</button>
</div>
