<div class="modal-header">
  <button type="button" class="close" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">About "{{module.name}}"</h4>
</div>
<div class="modal-body">
  <table class="table table-striped">
    <tbody>
      <tr>
        <th>Name</th>
        <td>{{module.name}}</td>
      </tr>
      <tr>
        <th>Description</th>
        <td>{{module.description}}</td>
      </tr>
      <tr>
        <th>Developer</th>
        <td>{{module.developer}}</td>
      </tr>
      <tr>
        <th>Licence</th>
        <td>{{module.license}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <a type="button" class="btn btn-default glyphicon glyphicon-download-alt" href="/downloadmodule?{{module.folderName}}"></a>
  <button type="button" class="btn btn-default" ng-click="close()">Close</button>
</div>
