<div class="modal-header">
  <button type="button" class="close" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">About "{{module.moduleName}}"</h4>
</div>
<div class="modal-body">
  <table class="table table-striped">
    <tbody>
      <tr>
        <th>Name</th>
        <td>{{module.moduleName}}</td>
      </tr>
      <tr>
        <th>Description</th>
        <td>{{module.moduleDescription}}</td>
      </tr>
      <tr>
        <th>Developer</th>
        <td>{{module.moduleDeveloper}}</td>
      </tr>
      <tr>
        <th>Licence</th>
        <td>{{module.moduleLicense}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="close()">Close</button>
</div>
